version: '3.8'

services:
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  backend:
    build:
      context: .
      dockerfile: Dockerfile.emotion
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/meetsense
      - JWT_SECRET=dev_secret
      - CLIENT_URL=http://localhost:5173
      - ROBOFLOW_API_KEY=CWNsmqHCRTuxsOJTguJo
      - ROBOFLOW_INFERENCE_URL=https://detect.roboflow.com/classroom-lzi7f/emotion-57ymy/2
      - MAX_CONCURRENT_ROBOFLOW_REQUESTS=3
      - SAMPLE_EVERY_N_FRAMES=6
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
